# To separate your traces from other application
LANGSMITH_PROJECT=taiwan_civilcode_agent
LANGSMITH_API_KEY=

GOOGLE_API_KEY=

AZURE_OPENAI_ENDPOINT =
AZURE_OPENAI_API_VERSION =
AZURE_OPENAI_API_KEY =

PGVECTOR_CONNECTION_STRING = "postgresql+psycopg2://postgres:postgres@127.0.0.1:5433/civilcode" # Notice port is 5433